body {
  color: #454a54;
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* input */

input[type='text'],
input[type='email'] {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  font-size: 13px;
  padding: 12px 15px;
}

/* button */

button {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  color: #454a54;
  font-size: 13px;
  font-weight: 500;
  min-width: 70px;
  padding: 12px 15px;
}

/* table */

table {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  border-spacing: 0;
  width: 100%;
}

th, td {
  background: #fff;
  font-size: 13px;
  padding: 12px;
  text-align: left;
}

th + th,
td + td {
  border-left: 1px solid #ebebeb;
}

td {
  border-top: 1px solid #ebebeb;
}

thead th:first-of-type {
  border-radius: 4px 0 0 0;
}

thead th:last-of-type {
  border-radius: 0 4px 0 0;
}

tbody tr:last-of-type td:first-of-type {
  border-radius: 0 0 0 4px;
}

tbody tr:last-of-type td:last-of-type {
  border-radius: 0 0 4px 0;
}

tbody tr:nth-of-type(odd) td {
  background: #fcfdfd;
}